.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.category-item {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px;
  width: 100%;
}

.category-item-details {
  flex: 1;
  padding-right: 20px;
  margin: 0 auto;
}

.category-item-image {
  flex: 1;
  display: flex; 
  align-items: center; 
}

.category-item-image img {
  max-width: 100%; 
  height: auto; 
}

.category-title {
  text-align: center;
}
