.image-container {
    width: 150px; 
    height: auto;
    float: right; 
    margin-left: 20px; 
  }

  .MuiCard-root.card {
    max-width: 345px;
    background-color: #f7e1da; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #333; 
    transition: transform .2s;
    
}

.card:hover {
  transform: scale(1.05);
}


.rating {
  margin-top: 5px;
}

.star {
  color: gold; 
}

@media (max-width: 345px) {
  .MuiCard-root.card {
    max-width: 100%;
  }
}
  